---
import Form from "@components/mainContainer/Form.astro";
import MainAmount from "@components/mainContainer/MainAmount.astro";
import HeaderContainer from "./HeaderContainer.astro";
---

<section class="w-full border rounded-xl my-8 p-6 dark:border-neutral-600">
  <HeaderContainer />
  <MainAmount />
  <Form />
</section>