<header class="space-y-2">
  <h1 class="text-3xl tracking-tight font-[550] dark:text-neutral-100">Calculadora</h1>
  <h2 class="text-neutral-500 text-[15px] tracking-tight dark:text-neutral-400 lg:text-base">Convierte dólares a bolívares usando la tasa de tu preferencia</h2>
</header>