---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-2xl mx-auto mt-8 px-8 xl:px-0">
		<header class="space-y-1">
			<h1 class="text-3xl tracking -tight font-semibold">Calculadora</h1>
			<h2 class="text-neutral-500 text-[15px] tracking-tight">Convierte dólares a bolívares usando la tasa de tu preferencia</h2>
		</header>
		<section class="w-full bg-zinc-100 border h-80 rounded-xl mt-8 p-6">
			<div class="flex gap-2 bg-zinc-200 w-fit px-2">
				<button>BCV</button>
				<button>Paralelo</button>
			</div>
		</section>
	</main>
</Layout>
