---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import Title from '@components/title/Title.astro';
import MainContainer from '@components/mainContainer/MainContainer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="max-w-2xl mx-auto mt-8 px-8 xl:px-0">
		<Title />
		<MainContainer />

		<!-- Text for mom -->
		<p class="text-neutral-500 text-[13px] tracking-tight dark:text-neutral-400">Te quiero mamá :)</p>
	</main>
</Layout>
