---
import Title from '@components/title/Title.astro';
import Layout from '../layouts/Layout.astro';
import MainContainer from '@components/mainContainer/MainContainer.astro';
---

<Layout title="Dólar hoy" description='Convierte dólares a bolívares o viceversa usando la tasa de tu preferencia'>
	<main class="max-w-2xl h-screen mx-auto mt-10 px-8 xl:px-0">
		<Title />
		<MainContainer />

		<!-- Text for mom -->
		<p class="text-neutral-500 text-[13px] tracking-tight dark:text-neutral-400">Te quiero mamá :)</p>
	</main>
</Layout>
