---
import Layout from '../layouts/Layout.astro';
import MainAmount from '@components/mainAmount/MainAmount.astro';
import Form from '@components/inputFields/Form.astro';
import { CurrencyButton } from '@components/currencyButton/CurrencyButton';
import { dollarPrice } from "src/store";
---

<Layout title="Welcome to Astro.">
	<main class="max-w-2xl mx-auto mt-8 px-8 xl:px-0">
		<header class="space-y-1">
			<h1 class="text-3xl tracking-tight font-[550]">Calculadora</h1>
			<h2 class="text-neutral-500 text-[15px] tracking-tight">Convierte dólares a bolívares usando la tasa de tu preferencia</h2>
		</header>
		<section class="w-full border rounded-xl mt-8 p-6">
			<div class="flex bg-zinc-100 gap-2 w-fit p-2 rounded-lg h-11 items-center text-xs tracking-tight">
				<CurrencyButton title='BCV' amount={dollarPrice.get().bcv} client:visible />
				<CurrencyButton title='Paralelo' amount={dollarPrice.get().paralelo} client:visible />
			</div>

			<MainAmount />
			<Form />
		</section>
	</main>
</Layout>
