---
import ThemeSelector from "@components/themeSelector/ThemeSelector.astro";
---

<header class="border-b py-5">
  <div class="max-w-7xl px-8 xl:px-0 mx-auto flex items-center justify-between">
    Dólar hoy
    <ThemeSelector />
  </div>
</header>