---
import { InputField } from "./InputField";


---

<form class="space-y-4 lg:grid lg:grid-cols-2 lg:space-y-0 lg:gap-10">
  <InputField title="Dólares" placeholder="" currencyIndicator="$" client:visible/>
  <InputField title="Bolívares" placeholder="" currencyIndicator="Bs.S"/>
</form>