---
interface Props {
  title: string;
  amount: number;
}
const { title, amount } = Astro.props;
---

<button
  class="btn px-3 py-2 rounded-md text-neutral-500 hover:bg-white hover:shadow hover:text-black transition-all flex items-center justify-between gap-4"
>
  <span>
    {title}
  </span>
  <span class="font-semibold hidden lg:block">
    {`Bs.S ${amount}`}
  </span>
</button>

<script>
  import { vibrate } from "lib/vibrate";

  // Get buttons 
  const buttons = document.querySelectorAll('.btn');

  // Call vibrate function for each button 
  buttons.forEach(btn => btn.addEventListener('click', vibrate))
</script>
