---
import Header from '@components/header/Header.astro';
import { paraleloPrice, bcvPrice, lastUpdated } from "src/store";

interface Props {
	title: string;
}

const { title } = Astro.props;

const DOLLAR_URL = 'https://pydolarvenezuela-api.vercel.app/api/v1/dollar'
const response = await fetch(DOLLAR_URL);
const data = await response.json();
paraleloPrice.set(data.monitors.enparalelovzla.price)
bcvPrice.set(data.monitors.bcv.price)
lastUpdated.set(data.monitors.bcv.last_update)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>


<style is:global>
	@font-face {
		font-family: 'Inter';
		src: url('/fonts/InterVariable.woff2') format('woff2');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}
	
	html {
		font-family: Inter;
		font-feature-settings: 'cv10' 1, 'cv05' 1, 'ss03' 1;
	}
</style>
