---
import { LastUpdate } from '@components/lastUpdate/LastUpdate'
import { BigNumber } from '@components/mainAmount/BigNumber'

---

<div class="flex items-center flex-col space-y-4 my-14 text-6xl lg:text-7xl mx-auto w-fit font-semibold">
  <BigNumber client:visible />
  <div class="flex flex-col text-center text-xs space-y-1 text-neutral-500">
    <span class="font-normal">Última actualización</span>
    <LastUpdate />
  </div>
</div>
